#quiz {
    display: none;
}

body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lavender;
    font-weight: bold;
    font-size: 24px;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    flex-wrap: wrap;
}

#startBtn {
    margin: 10px;
    background-color: black;
    color: blueviolet;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
    padding: 14px 40px;
    display: flex;
    align-items: center;
}

#startBtn:hover {
    background-color: lavender;
    color: black;
}

#option1,
#option2,
#option3,
#option4 {
    background-color: lavender;
    color: black;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

#question {
    font-size: 24px;
    color: rgb(128, 11, 238);
    font-size: 28px;
}

